@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Общие стили */

body {
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    background-color: black;
    color: white;
}

p + p { /*Расстояние между p/абзацами*/
    margin-top: 15px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
}

.container {
    box-sizing: border-box; /*ДЛя включения паддингов в макс. ширину*/

    max-width: 1170px;
    margin: 0 auto; /*разброс марджина равномерно между лево-права, а 0 чтоб игнорить вверх-вниз :D*/
    padding: 0 15px; /*дабы оотступ оставался после уменьшения*/
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    width: 165px;
    height: 56px;

    background-color: RED;
    border-radius: 5px;

    
    transition: opacity 0.3s; /*Время реакции*/
}

.btn:hover {
    opacity: 0.8; /*Прозрачность при наведении*/
}

/*Шапка*/

.header {
    padding: 25px 0;
    
    position: relative; /*На мало ли, дабы шапка не пропала*/
    z-index: 10;
}


.header .container {
    display: flex;/*друг за дружкой, по ширенке*/
    justify-content: space-between; /*Распределение между каждым элементом*/
    align-items: center; /*вещи внутри тож по центру*/
}

.header_logo {
    width: 100px;
}

.header_nav a {
    font-size: 14px;
    opacity: 0.7; /*Прозрачность*/
    transition: opacity 0.3s;
}

.header_nav a.active {
    opacity: 1;
}

.header_nav a:hover {
    opacity: 0.9; /*Прозрачность*/
}

.header_list {
    display: flex;
    gap: 30px; /*Расстояние между элементами?*/
}



/*Приветственная секция*/
.welcome {
    box-sizing: border-box; /*По указанной высоте занимай остальные значения*/
    min-height: 100vh; /*Занимай весь экран браузера*/

    margin-top: -112px; /*Перебив фоном*/
    padding: 250px 0; /*Внутренний отступ(от края до внутрненнего содержимого)*/
    
    background-image: url("images/welcum.JPG");
    background-repeat: no-repeat;
    background-size: cover; /*На всю ширину*/
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    margin: 20px 0;
    font-size: 18px;
    opacity: 0.7;
}

/*Список изображений*/
.gallery-list {
    padding: 100px 0; /*Оступ для того, чтоб от 1-й отцепился и ко 2-й не прилип*/
}

.gallery-list .container {
    display: flex; /*Выстраивание в ряд*/
    justify-content: space-between; /*Рассстояние ожинаковое*/
    flex-wrap: wrap; /*Для переноса при уменьшении экрана*/
    gap: 40px 10px; /*Пока не 10px на столбах, остаёмся + 40px для оступа рядами */
}


.gallery-list_card {
    width: 260px;

    overflow: hidden; /*Всё выходящее за пределы = обрез, юлагодаря чему и карты округляются*/
    text-align: center;

    background: #514d4d;
    border-radius: 16px;
}

.gallery-list_img {
    height: 200px; /*А если изоюражения разного размера, то как исправить*/
    object-fit: cover; /*Для уровняловки*/
}

.gallery-list_wrapper { /*Контейнер для отступов от текста внутри карточек*/
    padding: 30px 20px;
}

.gallery-list_title {
    font-size: 20px;
    margin-bottom: 13px;
}

.gallery-list_desc {
    font-size: 16p;
    opacity: 0.7;
}

/*Order*/
.order {
    background-color: #514d4d;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between; /*Между право-лево*/
    align-items: center; /*Между вверхом-низом*/

    padding-right: 90px;

}

.order__I {
    width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}

.ordeer__desc {
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: rgb(255, 77, 0);
}

.order__old-price {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: rgb(255, 77, 0);

    text-decoration: line-through;
    opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 3px;
}

.order .btn {
    margin-top: 10px;
}